<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>

    <% if user_signed_in? %>
     <%= tag :meta, name: "current-user", data: {id: current_user.id} %>
    <% end  %> 
  </head>

  <body>
    <div id="app" data-behavior="vue">
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
        <%= yield %>
    </div>
  </body>
</html>
